[Unit]
Description=level2 puzzlebox challenge
After=local-fs.target

[Service]
User=pi
Group=pi
ExecStart=/usr/bin/qemu-i386-static ./level2
StandardInput=socket
WorkingDirectory=/home/pi
