[Unit]
Description=level2 puzzlebox challenge
After=local-fs.target

[Service]
User=pi
Group=pi
ExecStart=/usr/bin/python ./wrapper.py
StandardInput=socket
WorkingDirectory=/home/pi
